
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>sandbox</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <script src="{{ url_for('static',filename='assets/bootstrap/js/bootstrap.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/sidebar.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="\static\components\sidebar\styling.css">
    <link rel="stylesheet" href="/static/assets/css/chatbotpage.css">
</head>

<body>
    <!--DONT DELETE: THIS AREA IS WHERE THE SIDE BAR WILL BE INSERTED-->
    <div id="home-sidebar-insert-area"></div>

    <!---<div id="home-symptoms-insert-area" style="border-style: solid; border-width: 5px; border-color: green; width: 50%; margin-left: 25%; margin-top: 25%;"></div>--->

    <div class="container-fluid">
        <div id="content">
            <div id="home-container">
                <div id="home" class="container-fluid">
                    <h3 style="color:white">Appointment Request has been sent.</h3>
                </div>
            </div>
        </div>
    </div>
    <script type="module">
        import {sidebar, makeButtonBlink} from "/static/components/sidebar/script.js";
        sidebar(document.getElementById('home-sidebar-insert-area'))
        makeButtonBlink()
    </script>
    <script>
        const toChatbot = () =>{
            window.location.href="/home" 
        }
        

        
    </script>
   
 
</body>

</html>
