
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>sandbox</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/sidebar.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/assets/css/chatbotpage.css">
    <link rel="icon" href="{{ url_for('static',filename='assets/img/favicon.png')}}">
    <link rel="icon" href="{{ url_for('static',filename='assets/img/apple-touch-icon.png')}}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
         rel="stylesheet">

    <!--Veondor CSS Files-->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/aos/aos.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/fontawesome-free/css/all.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/glightbox/css/glightbox.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.css')}}">




    <!-- Main CSS File -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css')}}">
    <style>
        table tr.symptom-mild-type td { /* Target table cells within mild rows */
            background-color: rgb(216, 243, 216);
        }

        table tr.symptom-severe-type td { /* Target table cells within severe rows */
            background-color: rgb(235, 201, 201);
        }
    </style>
</head>

<body >
    <!--Start hello-->
    
      <!--DONT DELETE: THIS AREA IS WHERE THE SIDE BAR WILL BE INSERTED-->
      <header id="header" class="header sticky-top">
        <!-- Navigations -->
        <div class="branding d-flex align-items-center">
            <div class="position-relative d-flex align-items-center justify-content-between" style="width:100%; padding-left: 20px; padding-right: 20px;">
                  <a href="/" class="logo d-flex align-items-center me-auto">
                       <h1 class="sitename">ISAT-U ClinicHub</h1>
                  </a>

                  <!--Navigation Menu-->
                  <!-- Navigations -->

                 <!--Navigation Menu-->
                 <nav id="navmenu" class="navmenu">
                      <ul>
                       <li><a href="/" class="">Home</a></li>
                       <li id="schedule-container">
                            <a href="/schedule" id="schedule-title">View Requests</a>
                            <div id="pending-count-container" style="display:none;right: 0px; top: 5px;border-radius: 50px; height: 20px; width: 20px; align-items:center; justify-content:center; position: absolute; background-color: red; color:white">
                                <h6 id="pending-count" style="border-radius: 50px;text-align: center;align-items:center; justify-content:center; background-color:red; color:white">1</h6>
                            </div>
                        </li>   
                        <li>
                            <a href="/regconfirm" id="reg-confirm-title" class="">View Registrants</a>
                            <div id="reg-confirm-pending-count-container" style="display:none;right: 0px; top: 5px;border-radius: 50px; height: 20px; width: 20px; align-items:center; justify-content:center; position: absolute; background-color: red; color:white">
                                <h6 id="reg-confirm-pending-count" style="border-radius: 50px;text-align: center;align-items:center; justify-content:center; background-color:red; color:white">1</h6>
                            </div>
                        </li>
                            <li class="text-white"><a href="/staffsymptoms" class="active">Manage Symptoms</a></li>
                            <li class="text-white"  id="manage-staff-link" style="display: none"><a href="/managestaff">Manage Staff</a></li>
                      
                       
                       <li id="appointment-btn" style="display: none"><a class="" href="/chatbotpage" ><b>Make an Appointment</b></a></li>
                      
                     </ul>
                      <i class="mobile-nav-toggle d-xl-none bi bi-list" id="menu-btn"></i>
                 </nav>

                 <div style="border-width: 1px; border-color: white; border-radius: 16px;; border-style: solid;margin-left: 20px; align-items: center; display:flex; justify-content:center" clas="d-none d-sm-block">
                    <button class="btn dropdown-toggle d-flex align-items-center" type="button" id="accountDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="background: none; border: none; color: white;">
                    <img style="height: 30px; width: 30px; object-fit: contain; border-width: 1px; background-color:white; border-style: solid; border-radius: 50px; border-color: white;" id="account-icon" src="{{ url_for('static', filename='assets/account-icon.png')}}"/>
                    <div style="flex-direction:column; margin-right: 10px;">
                      <span id="user-name"  style=" margin-left: 10px; color:white; padding: 5px; border-radius: 10px; text-align: left" ></span>
                      <span id="user-category-display" style=" margin-left: 10px; color:white; padding: 5px; border-radius: 10px; font-size: 15px; text-align: left"></span>
                    </div>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
                        <li><a class="dropdown-item" href="/profile" id="account-button">Account</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" onclick="logout()" href="/" style="color:red" >Logout</a></li>
                  </ul>
                  
                  </div>   

               
            </div>

   </header>

    <div id="sched-calendar-insert-area" style="display: flex; justify-content: center; align-items:center; height: 100%; width: 100%; "></div>
   
    
    <div id="info-modal-insert-area" style="display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%"></div>
      
    <div id="home-container" style="margin-top: 50px;">
        <div id="home" class="container-fluid" >
            <h1 class="title-opening" style="font-size: 30px;">Manage Symptoms</h1>
        </div>
         
    </div>
        
    <!-- Table -->
    <div id="table-staff" class="container-fluid" style="padding:20px;">
        <br>
        
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Manage Symptoms</p>
                <div style="width: 100%; justify-content: space-between; display: flex;">
                    <div style="display:flex; flex-direction:row; align-items:center;">
                        <span style="width: 80px;">Sort By</span>
                        <select class="form-control" id="manage-symptoms-sortby" required>
                            <option value="?">Last Created</option>
                            <option value="SymptomsRef_Name">Name</option>
                            <option value="SymptomsRef_IsMild">Recommend Appointment</option>
                            
                        </select>
                    </div>
                    <button  class="btn btn-primary" data-bs-toggle="modal" onclick="showCreateModeModal()">Add Symptoms</button>
                </div>
                
            </div>

            <!-- Modal for Adding Symptoms -->
<div class="modal fade" id="addSymptomsModal" tabindex="-1" aria-labelledby="addSymptomsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addSymptomsModalLabel">Add Symptoms</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="addSymptomsForm">
            <div class="mb-3">
              <label for="SymptomsRef_Name" class="form-label">Symptom Name</label>
              <input type="text" placeholder="(example: Fever)" class="form-control" id="SymptomsRef_Name" required>
              <div style="align-items:center">
                <span style="color: gray">Name Suggestions:</span>
                <div id="manage-symptoms-suggestions">
                    
                </div>
                
              </div>
            </div>
            <div class="mb-3">
              <label for="SymptomsRef_Level" class="form-label">Type</label>
              <textarea  placeholder="(example: 38 C)" class="form-control" id="SymptomsRef_Level" required></textarea>
            </div>
            <div class="mb-3">
              <label for="SymptomsRef_Recommendation" class="form-label">Initial Diagnosis</label>
              <textarea class="form-control" placeholder="(example: Recommendation)" id="SymptomsRef_Recommendation" required></textarea>
            </div>
            <div class="mb-3">
              <label for="SymptomsRef_IsMild" class="form-label">Recommend Appointment</label>
              <select class="form-control" id="SymptomsRef_IsMild" required>
                <option value="0">Yes</option>
                <option value="1">No</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary" id="form-submit-button">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
            <div class="card-body">
                
                <div class="row">
                    <div class="col-md-12 text-nowrap">
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><!--<label class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                                    <option value="10" selected="">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>&nbsp;</label></div>
                    </div>-->
                    <div class="col-md-6">
                        <!---<div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>-->
                    </div>
                </div>
                <div>
                    <div style="display:flex; flex-direction:row">
                        <div style="width: 20px;height:20px; background-color: rgb(216, 243, 216); margin-right: 10px;"></div>
                        <span>Mild (Does not require appointment)</span>
                    </div>
                    <div style="display:flex; flex-direction:row">
                        <div style="width: 20px;height:20px; background-color: rgb(235, 201, 201); margin-right: 10px;"></div>
                        <span>Severe (Appointment is recommended)</span>
                    </div>
                </div>
                <div class="table-responsive table mt-2"   id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable" >
                        <thead>
                            <tr>

                                <!--<th>ID</th>-->
                                <th>Actions</th>
                                <th>Name</th>
                                <!---<th>Last Name</th><th>First Name</th>-->
                                <th>Type</th>
                                <th>Initial Diagnosis</th>
                                <th>Recommend Appointment</sth>
                                
                            </tr>
                        </thead>
                        <tbody id="sched-table-body">
                              
                    
                            
                        </tbody>
                       
                        
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite"></p>
                    </div>
                    <div class="col-md-6">
                        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                            <ul class="pagination" id="pagination">
                               
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
<!--DONT DELETE-->

     <!-- Vendor JS Files -->
     <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
     <script src="{{ url_for('static',filename='assets/vendor/php-email-form/validate.js')}}"></script>
     <script src="{{ url_for('static',filename='assets/vendor/aos/aos.js')}}"></script>
     <script src="{{ url_for('static',filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
     <script src="{{ url_for('static',filename='assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>
     <script src="{{ url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>


     <!-- Main JS File -->
     <script src="{{ url_for('static',filename='assets/js/main.js')}}"></script>
     <script type="module">
        import {getUserData} from '/static/pageScripts/session.js'
        import {getSession} from '/static/pageScripts/session.js'
        async function applyProfile(){
        let data = await getUserData()
        data = data[0]
        const session = await getSession()
        if (session["isStaff"]){
             // remove appointment button if staff
             document.getElementById("user-category-display").innerHTML = session["isAdmin"]?"ADMIN":"NURSE"
             if (session["isAdmin"]){
                document.getElementById("manage-staff-link").style.display = "block"
                document.getElementById("schedule-container").remove()
                getElementById("account-button").innerHTML = ""
              }
        }else{
             document.getElementById("user-category-display").innerHTML = data["PatientCategory"]
        }

        
        }

        applyProfile()
         // show pending count notif
       window.logout = async () => {
        try {
            const response = await fetch('/api/patient?for=logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({}),
            });
    
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
    
            const result = await response.json();
            if (result.hasOwnProperty('customError')) {
                window.location.href = '/login';
                alert(result.customError);
                return;
            }
    
            window.location.href = '/login';
        } catch (error) {
            console.error('Error:', error);
            window.location.href = '/home';
        }
    }
   </script>
<script type="module">
    // Imports necessary modules and functions for handling calendar and appointment data
    import {
        CalendarSelection,
        onClickShowCal,
        selected,
        getAppointmentsFilter,
        getSession,
        getTimeName,
        deleteAppointment,
        setCalendarButtonOpeners,
        btn
    } from "/static/components/calendarSelection/script.js";

    import { deleteSymptomsFromDb } from "/static/components/symptomsSelection/script.js";
    import { InfoModal, showModal } from "/static/components/infoModal/script.js";
    import { getDaysUntilAppointment } from "/static/pageScripts/calendar.js"

    const pageSize = 50;  // Change this to the number of items per page
    let currentPage = 1;  // current page, transfered from function scope into global(here) for accessability
    let allUniqueSymptomNames = [] // for auto adjusting of naming
    let formTargetId = null // if no target (null): create symptom // if has target (string id), edit target symptom
    
    // window... make it accessable from html for onclick
    window.useSuggestedSymptomAsName=(name)=>{
        // Get the input element by its ID
        const inputElement = document.getElementById('SymptomsRef_Name');
        // Set the text inside the input
        inputElement.value = name
    }

    async function getAllUniqueSymptomNames(){
        const response = await fetch("/api/symptomsref");
        if (!response.ok) {
            throw new Error("Network response was not ok");
        }
        
        let data = await response.json();
        const names = []
        for (let index in data){
            names.push(data[index].SymptomsRef_Name)
        }
        const uniqueNames = [...new Set(names)]
        allUniqueSymptomNames = uniqueNames
        return null
    }
    // show pending count notif
    async function getRegistrationPendingCount(){
        const patients = (await (await fetch("/api/patient")).json())
        let count = 0;
        for (let index in patients){
            const a = patients[index]
            if (a.PatientIsConfirmed=="0"){
                count+=1
            }
        }
        console.log("COUUNT", count)
        if (count>0){
            document.getElementById("reg-confirm-pending-count").innerHTML = count
            document.getElementById("reg-confirm-pending-count-container" ).style.display = "block"
    }
    }
    getRegistrationPendingCount()
    // this will rename fever into Fever (or ' fever ' into 'Fever') if Fever exists on current symptom names
    function autoAdjustNaming(symptomsData, name){
        const normalizedName = name.replace(" ", "").toLowerCase()
        let finalName = name
        for (let index in symptomsData){
            const targetData = symptomsData[index]
            const targetName = targetData["SymptomsRef_Name"]
            const normalizedTargetName = targetName.replace(" ","").toLowerCase()
            if (normalizedName==normalizedTargetName){
                finalName = targetName
                break
            }
        }
        return finalName
    }

    function sortSymptomData(symptomData, key) {
        if (!symptomData || symptomData.length === 0) {
          return [];
        }
      
        return symptomData.sort((a, b) => {
          const valueA = a.hasOwnProperty(key) ? String(a[key]).toLowerCase() : "";
          const valueB = b.hasOwnProperty(key) ? String(b[key]).toLowerCase() : "";
      
          if (valueA < valueB) {
            return -1;
          }
          if (valueA > valueB) {
            return 1;
          }
          return 0;
        });
    }

    window.deleteSymptomRef = async (SymptomsRef_ID) =>{
        const data = (await (await fetch(`/api/symptomsref?SymptomsRef_ID=${SymptomsRef_ID}`)).json())[0]
        let userChoice = confirm(`This action cannot be undone.\nAre you sure you want to remove?\n\nSymptom Name: ${data.SymptomsRef_Name}\nSeverity: ${data.SymptomsRef_Level}`);

        if (!userChoice) { // selected cancel
            return
        }
        try{
            const response = await fetch('/api/symptomsref', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({SymptomsRef_ID})
            })
            
            const responseJson = await response.json()
            getSymptomsRef()
        }catch(error){
            console.error('Error:', error);
            alert('An error occurred while adding symptoms.');
        }
    }
    
    window.showEditModeModal = async (SymptomsRef_ID) => {
        formTargetId = SymptomsRef_ID // put to global var
        const targetData = (await (await fetch(`/api/symptomsref?SymptomsRef_ID=${formTargetId}`)).json())[0]
        document.getElementById('form-submit-button').innerHTML = "Update"
        document.getElementById("manage-symptoms-suggestions").innerHTML = ""
        document.getElementById("addSymptomsModalLabel").innerHTML = "Update Symptom"
        document.getElementById("SymptomsRef_Name").value = targetData.SymptomsRef_Name
        document.getElementById("SymptomsRef_Level").value = targetData.SymptomsRef_Level
        document.getElementById("SymptomsRef_Recommendation").value = targetData.SymptomsRef_Recommendation
        document.getElementById("SymptomsRef_IsMild").value = targetData.SymptomsRef_IsMild
        setTimeout(()=>{$('#addSymptomsModal').modal('show')}, 50) // add brief delay to set ui changs first
    }

    window.showCreateModeModal = async () => {
        if (formTargetId){
            formTargetId = null  // put to global var
            document.getElementById('form-submit-button').innerHTML = "Submit"
             document.getElementById("manage-symptoms-suggestions").innerHTML = ""
            document.getElementById("addSymptomsModalLabel").innerHTML = "Create Symptom"
            document.getElementById("SymptomsRef_Name").value = ""
            document.getElementById("SymptomsRef_Level").value = ""
            document.getElementById("SymptomsRef_Recommendation").value = ""
            document.getElementById("SymptomsRef_IsMild").value = "0"
    
        }
       
        setTimeout(()=>{$('#addSymptomsModal').modal('show')}, 50) // add brief delay to set ui changes first
    }
    window.updateSymptomRef = async (data) => {
        try{
            const response = await fetch('/api/symptomsref', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            
            const responseJson = await response.json()
            getSymptomsRef()
        }catch(error){
            console.error('Error:', error);
            alert('An error occurred while adding symptoms.');
        }
    }
    
    async function getSymptomsRef(sortBy) {
            try {
                const response = await fetch("/api/symptomsref");
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                
                let data = await response.json();
                //const pageSize = 50;  // removed. transferred to global scope
                const totalPages = Math.ceil(data.length / pageSize);
                //let currentPage = 1; // removed. transfered to global scope for accessability

                // sort data
                const sortByRefValue = document.getElementById("manage-symptoms-sortby").value
                if (sortByRefValue != "?"){
                    data = sortSymptomData(data, sortByRefValue)
                }else{
                    data = data.reverse()
                }

                // Function to display the current page
                function displayPage(page) {
                    const startIndex = (page - 1) * pageSize;
                    const endIndex = Math.min(page * pageSize, data.length);
                    const tbody = document.getElementById('sched-table-body');
                    tbody.innerHTML = "";

                    // Populate table rows for the current page
                    for (let i = startIndex; i < endIndex; i++) {
                        const item = data[i];
                        const row = document.createElement("tr");
                        if (item.SymptomsRef_IsMild){
                            row.classList.add("symptom-mild-type")
                        }else{
                            row.classList.add("symptom-severe-type")
                        }
                        row.innerHTML = `
                            <td>
                                <button class="btn btn-danger" onclick="deleteSymptomRef('${item.SymptomsRef_ID}')">Delete</button>
                                <button class="btn btn-primary" onclick="showEditModeModal('${item.SymptomsRef_ID}')" style="margin-left: 5px;">View</button>
                            </td>
                            <td>${item.SymptomsRef_Name}</td>
                            <td>${item.SymptomsRef_Level.substring(0,50)}</td>
                            <td>${item.SymptomsRef_Recommendation.substring(0,50)}</td>
                            <td>${item.SymptomsRef_IsMild?"No":"Yes"}</td>
                        `;
                        tbody.appendChild(row);
                    }

                    // Update the pagination controls
                    const pagination = document.getElementById('pagination');
                    pagination.innerHTML = "";  // Clear current pagination

                    // Add previous button
                    const prevButton = document.createElement("li");
                    prevButton.classList.add("page-item");
                    prevButton.innerHTML = `<a class="page-link" href="#">Previous</a>`;
                    prevButton.addEventListener("click", function() {
                        if (currentPage > 1) {
                            currentPage--;
                            displayPage(currentPage);
                        }
                    });
                    pagination.appendChild(prevButton);

                    // Add page number buttons
                    for (let i = 1; i <= totalPages; i++) {
                        const pageButton = document.createElement("li");
                        pageButton.classList.add("page-item");
                        
                        if (i === page) {
                            pageButton.classList.add("active");
                        }
                        
                        pageButton.innerHTML = `<a class="page-link" href="#">${i}</a>`;
                        pageButton.addEventListener("click", function() {
                            currentPage = i;
                            displayPage(currentPage);
                        });
                        pagination.appendChild(pageButton);
                    }

                    // Add next button
                    const nextButton = document.createElement("li");
                    nextButton.classList.add("page-item");
                    nextButton.innerHTML = `<a class="page-link" href="#">Next</a>`;
                    nextButton.addEventListener("click", function() {
                        if (currentPage < totalPages) {
                            currentPage++;
                            displayPage(currentPage);
                        }
                    });
                    pagination.appendChild(nextButton);
                }

                // Initial page display
                displayPage(currentPage);

            } catch (error) {
                console.error("Fetch error:", error);
            }
        }

    // create suggestions when making input on name
    document.getElementById('SymptomsRef_Name').addEventListener('input', (event)=>{
        event.preventDefault()
        const value = event.target.value
        const countMaxSuggestions = 5
        const suggestions = []
        //console.log(value)
        //console.log(allUniqueSymptomNames)
        const elementLocation = document.getElementById("manage-symptoms-suggestions")
        const addButton = (name) => (`<button onclick="useSuggestedSymptomAsName('${name}')" type="button" class="btn" style="background-color: rgb(240,240,240);margin: 5px; " >${name}</button>`)
        for (let index in allUniqueSymptomNames){
            if (allUniqueSymptomNames[index].toLowerCase().replace(" ","").startsWith(value.toLowerCase().replace(" ", ""))){
                if (suggestions.length < countMaxSuggestions){
                    suggestions.push(allUniqueSymptomNames[index])
                }else{
                    break
                }
            }
        }

        let newElement = ""
        for (let index in suggestions){
            newElement += addButton(suggestions[index])
        }
        elementLocation.innerHTML = newElement
    })


    document.getElementById('manage-symptoms-sortby').addEventListener('change', ()=>{
        currentPage = 1 // reset page number
        getSymptomsRef()
        
    })

         // Add event listener for the form submission
    document.getElementById('addSymptomsForm').addEventListener('submit', async function(e) {
        e.preventDefault(); // Prevent the default form submission
        const response = await fetch("/api/symptomsref");
        if (!response.ok) {
            throw new Error("Network response was not ok");
        }
        
        let data = await response.json();
        // Get the form field values
        const SymptomsRef_Name = document.getElementById('SymptomsRef_Name').value;
        const SymptomsRef_Level = document.getElementById('SymptomsRef_Level').value;
        const SymptomsRef_Recommendation = document.getElementById('SymptomsRef_Recommendation').value;
        const SymptomsRef_IsMild = document.getElementById('SymptomsRef_IsMild').value;

        // Create an object with the data to send to the backend
        const symptomsData = {
            SymptomsRef_Name: autoAdjustNaming(data, SymptomsRef_Name),
            SymptomsRef_Level,
            SymptomsRef_Recommendation,
            SymptomsRef_IsMild
        };


        // EDIT MODE

        if (formTargetId){
            console.log(formTargetId)
            console.log(symptomsData)
            try{
                const response = await fetch('/api/symptomsref', {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({SymptomsRef_ID: formTargetId, ...symptomsData})
                })
                
                const responseJson = await response.json()
                    
                alert("Symptom updated successfully!")
                $('#addSymptomsModal').modal('hide');
                getSymptomsRef()
            }catch(error){
                console.error('Error:', error);
                alert('An error occurred while adding symptoms.');
            }

        }else{
        // CREATE MODE

            try{
                const response = await fetch('/api/symptomsref', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(symptomsData)
                })
                
                const responseJson = await response.json()
                alert("Symptom added successfully!")
                $('#addSymptomsModal').modal('hide');
                
            }catch(error){
                console.error('Error:', error);
                alert('An error occurred while adding symptoms.');
            }

        }
        

        getSymptomsRef()
        getAllUniqueSymptomNames() // refresh unique symptom names when adding new symptom
    });

    // show pending count notif
    async function getPendingCount(){
        const appointments = await getAppointmentsFilter({}); // Fetch all appointments (no filter)
        
        let count = 0;
        for (let index in appointments){
            const a = appointments[index]
            const targetDateTime =  new Date(a.Appointment_Year, a.Appointment_Month - 1, a.Appointment_Day, a.Appointment_Time);
            const currentDateTime = new Date();
        
            if ((appointments[index].Appointment_Confirmed == 0)&&
            (currentDateTime - targetDateTime)<0){
                count+=1
            }
        }
        if (count>0){
            document.getElementById("pending-count").innerHTML = count
            document.getElementById("pending-count-container").style.display = "block"
       }
    }

    getSymptomsRef();
    getPendingCount();
    getAllUniqueSymptomNames();
    
</script>


</html>
