
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>sandbox</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/sidebar.css')}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/assets/css/chatbotpage.css">
    <link rel="icon" href="{{ url_for('static',filename='assets/img/favicon.png')}}">
    <link rel="icon" href="{{ url_for('static',filename='assets/img/apple-touch-icon.png')}}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
         rel="stylesheet">

    <!--Veondor CSS Files-->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/aos/aos.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/fontawesome-free/css/all.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/glightbox/css/glightbox.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.css')}}">




    <!-- Main CSS File -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/main.css')}}">
    <style>
        table tr.symptom-mild-type td { /* Target table cells within mild rows */
            background-color: rgb(216, 243, 216);
        }

        table tr.symptom-severe-type td { /* Target table cells within severe rows */
            background-color: rgb(235, 201, 201);
        }
    </style>
   <style>
    .switch {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 26px;
    }
  
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }
  
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0; left: 0;
      right: 0; bottom: 0;
      background-color: #ccc;
      transition: 0.4s;
      border-radius: 26px;
    }
  
    .slider::before {
      position: absolute;
      content: "";
      height: 20px; width: 20px;
      left: 3px; bottom: 3px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }
  
    input:checked + .slider {
      background-color: #4CAF50;
    }
  
    input:checked + .slider::before {
      transform: translateX(24px);
    }
  
    #toggleBox {
      display: none;
      margin-top: 10px;
      padding: 10px;
      background: #eee;
      border: 1px solid #ccc;
    }
  
    #toggleSwitch:checked ~ #toggleBox {
      display: block;
    }
    </style>
  
</head>

<body >
    <!--Start hello-->
    
      <!--DONT DELETE: THIS AREA IS WHERE THE SIDE BAR WILL BE INSERTED-->
      <header id="header" class="header sticky-top">
        <!-- Navigations -->
        <div class="branding d-flex align-items-center">
            <div class="position-relative d-flex align-items-center justify-content-between" style="width:100%; padding-left: 20px; padding-right: 20px;">
                  <a href="/" class="logo d-flex align-items-center me-auto">
                       <h1 class="sitename">ISAT-U ClinicHub</h1>
                  </a>

                  <!--Navigation Menu-->
                  <!-- Navigations -->

                 <!--Navigation Menu-->
                 <nav id="navmenu" class="navmenu">
                      <ul>
                       <li><a href="/" class="">Home</a></li>
                       <li>
                            <a href="/schedule" id="schedule-title">View Requests</a>
                            <div id="pending-count-container" style="display:none;right: 0px; top: 5px;border-radius: 50px; height: 20px; width: 20px; align-items:center; justify-content:center; position: absolute; background-color: red; color:white">
                                <h6 id="pending-count" style="border-radius: 50px;text-align: center;align-items:center; justify-content:center; background-color:red; color:white">1</h6>
                            </div>
                        </li>
                        <li>
                            <a href="/regconfirm" id="reg-confirm-title" class="active">View Registrants</a>
                            <div id="reg-confirm-pending-count-container" style="display:none;right: 0px; top: 5px;border-radius: 50px; height: 20px; width: 20px; align-items:center; justify-content:center; position: absolute; background-color: red; color:white">
                                <h6 id="reg-confirm-pending-count" style="border-radius: 50px;text-align: center;align-items:center; justify-content:center; background-color:red; color:white">1</h6>
                            </div>
                        </li>
                        <li class="text-white"><a href="/staffsymptoms" class="">Manage Symptoms</a></li>
                       
                        <li><a href="/profile" class="">Account</a></li>
                       <li id="appointment-btn" style="display: none"><a class="" href="/chatbotpage" ><b>Make an Appointment</b></a></li>
                      
                     </ul>
                      <i class="mobile-nav-toggle d-xl-none bi bi-list" id="menu-btn"></i>
                 </nav>

                 <!--<a class="cta-btn d-none d-sm-block" href="/chatbotpage" id="appointment-btn-2">Make an Appointment</a>-->
                 <div style="margin-left: 20px; align-items: center; display:flex; justify-content:center" clas="d-none d-sm-block">
                    <img style="height: 30px; width: 30px; object-fit: contain; border-width: 1px; background-color:white; border-style: solid; border-radius: 50px; border-color: white;" src="{{ url_for('static', filename='assets/account-icon.png')}}"/>
                  
                    <span id="user-category-display" style=" margin-left: 10px; margin-right: 10px; color:white; padding: 5px; border-radius: 10px;"></span>
                  
                  </div>  

               
            </div>

   </header>

    <div id="sched-calendar-insert-area" style="display: flex; justify-content: center; align-items:center; height: 100%; width: 100%; "></div>
   
    
    <div id="info-modal-insert-area" style="display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%"></div>
      
    <div id="home-container" style="margin-top: 50px;">
        <div id="home" class="container-fluid" >
            <h1 class="title-opening" style="font-size: 30px;">All Registrants</h1>
        </div>
         
    </div>
        
    <!-- Table -->
    <div id="table-staff" class="container-fluid" style="padding:20px;">
        <br>
        
        <div class="card shadow">
            <div class="card-header py-3">
                <!--<p class="text-primary m-0 fw-bold">Manage Patients</p>-->
                <div style="width: 100%; justify-content: space-between; display: flex;">
                    <div style="display:flex; flex-direction:row; align-items:center;">
                        <span style="width: 100px;">Sort By</span>
                        <select class="form-control" id="reg-confirm-sortby" required>
                            <option value="?">Last Created</option>
                            <option value="PatientIsConfirmed">Verification</option>
                            <option value="PatientName">First Name</option>
                            <option value="PatientLastName">Last Name</option>
                            <option value="PatientCategory">Patient Type</option>
                        </select>
                        <button class="btn btn-primary" style="margin-left: 10px; width: 200px" data-bs-toggle="modal" data-bs-target="#customModal">Add a User</button>
                    </div>
                    <div style="align-items:center; flex-direction:column; display:flex;" >
                        <div style="width:100%; justify-content: flex-end; display:flex;">
                            <span >Auto-Confirm</span>
                            <label style="margin-left: 8px;" class="switch">
                                <input type="checkbox" id="toggleSwitch">
                                <span class="slider"></span>
                            </label>
                        </div>
                        <p style="font-size: small; color: gray; height: 16px; text-align:right;"><i>Auto-confirms incoming registrants<br>and no registration SMS will be sent to the users.</i></p>
                    </div>
                </div>
                
            </div>
<!-- Custom Modal -->
<div class="modal fade" id="customModal" tabindex="-1" aria-labelledby="customModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="customModalLabel">Add a User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="col-lg-12 mb-5 mb-lg-0">
                <div class="card">
                     <div class="card-body py-5 px-md-5">
                          <form>
                               <!-- 2 column grid layout with text inputs for the first and last names -->
                               <div class="row">
                                    <div class="col-md-6 mb-4">
                                         <div data-mdb-input-init class="form-outline">
                                              <input type="text" id="firstname"
                                                   class="form-control" required>
                                              <label class="form-label" for="form3Example1"><span class="required">*</span>First
                                                   name</label>
                                         </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                         <div data-mdb-input-init class="form-outline">
                                              <input type="text" id="lastname"
                                                   class="form-control" required>
                                              <label class="form-label" for="form3Example2"><span class="required">*</span>Last
                                                   name</label>
                                         </div>
                                    </div>
                               </div>
                               <div class="col-md-12 mb-4">
                                <div data-mdb-input-init class="form-outline">
                                     <input type="text" id="address"
                                          class="form-control" required>
                                     <label class="form-label" for="form3Example1"><span class="required">*</span>Address</label>
                                </div>
                           </div>   
                               <!-- Contact input -->
                               <div data-mdb-input-init class="form-outline mb-4">
                                    <div style="display: flex; flex-direction: row; align-items:center;">
                                         <span style="color: gray; margin-right: 10px;">+63</span>
                                         <input type="text" id="contact" class="form-control" maxlength="10" oninput="validatePhoneNumber()" required/>
                                    </div>
                                    <label class="form-label" for="form3Example3"><span class="required">*</span>Contact</label>
                                    <p id="contact-warn" style="color: red; font-size: 12px;"></p>
                               </div>

                               <!-- Email input -->
                               <div data-mdb-input-init class="form-outline mb-4">
                                   
                                    <input type="email" id="email" class="form-control" required/>
                                    
                                    <label class="form-label" for="form3Example3"><span class="required">*</span>Email address</label>
                               </div>

                               <!-- Password input -->
                               <div class="form-outline mb-4 position-relative">
                                    <input type="password" id="password1" class="form-control" required/>
                                    <label class="form-label" for="password1"><span class="required">*</span>Password</label>
                                    <span onclick="togglePassword('password1', this)" class="toggle-password" style="position: absolute; right: 15px; top: 50%; transform: translateY(-25px); cursor: pointer;">Show</span>
                               </div>
                               
                               <!-- Confirm Password input -->
                               <div class="form-outline mb-4 position-relative">
                                    <input type="password" id="password2" class="form-control" required/>
                                    <label class="form-label" for="password2"><span class="required">*</span>Confirm Password</label>
                                    <span onclick="togglePassword('password2', this)" class="toggle-password" style="position: absolute; right: 15px; top: 50%; transform: translateY(-25px); cursor: pointer;">Show</span>
                               </div>
                               <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label">Patient Type</label>
                                    <select class="form-select" id="member-type" aria-label="Default select example" onchange="validateApply()">
                                         <option value="student">student</option>
                                         <option value="community">community</option>
                                         <option value="faculty">faculty</option>
                                         <option value="office staff">office staff</option>
                                         <!---<option value="staff">staff</option>-->
                                  </select>
                               </div>
                               <!-- Submit button -->
                               <button id="buttons" type="submit" data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-block mb-4 btn-primary"  onclick="register(event)">
                                    Add User
                               </button>

                               <!-- Register buttons -->
                              
                          </form>
                     </div>
                </div>
           </div>
        </div>
      </div>
    </div>
  </div>
            <!-- Modal for Adding Symptoms -->
<div class="modal fade" id="regConfirmModal" tabindex="-1" aria-labelledby="regConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="regConfirmModalLabel">Add Symptoms</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="regConfirmForm">
            <div class="mb-3">
                <label for="regConfirm_Email" class="form-label">Email</label>
                <input type="text" class="form-control" id="regConfirm_Email" disabled>
            </div>
            <div class="mb-3">
              <label for="regConfirm_FirstName" class="form-label">First Name</label>
              <input type="text" class="form-control" id="regConfirm_FirstName" required>
            </div>
            <div class="mb-3">
                <label for="regConfirm_LastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="regConfirm_LastName" required>
              </div>
              
              <div class="mb-3">
                <label for="regConfirm_Address" class="form-label">Address</label>
                <input type="text" class="form-control" id="regConfirm_Address" required>
              </div>
              <div class="mb-3">
                <label for="regConfirm_PatientType" class="form-label">Patient Type</label>
                <select class="form-control" id="regConfirm_PatientType" required>
                  <option value="student">student</option>
                  <option value="community">community</option>
                  <option value="faculty">faculty</option>
                  <option value="office staff">office staff</option>
                </select>
              </div>
            <div class="mb-3">
              <label for="regConfirm_ContactNo" class="form-label">Contact No.</label>
              <input type="text" class="form-control" id="regConfirm_ContactNo" value="63"  oninput="contactOnChange(event)" required>
            </div>
            <div style="display:flex; flex-direction:row; justify-content:space-between">
                <button type="button" class="btn btn-danger" id="form-submit-button" onclick="deleteUser(event)">Delete User</button>
                
                <button type="button" class="btn btn-primary" id="form-submit-button" onclick="saveChanges(event)">Save Changes</button>
               
            </div>
           
          </form>
        </div>
      </div>
    </div>
  </div>
            <div class="card-body">
                
                <div class="row">
                    <div class="col-md-12 text-nowrap">
                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><!--<label class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                                    <option value="10" selected="">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>&nbsp;</label></div>
                    </div>-->
                    <div class="col-md-6">
                        <!---<div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>-->
                    </div>
                </div>
                <div class="table-responsive table mt-2"   id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table my-0" id="dataTable" >
                        <thead>
                            <tr>
                               <!--<th>ID</th>-->
                               <th>Name</th>
                               <th>Patient Type</th>
                               <!---<th>Last Name</th><th>First Name</th>-->
                               <th>Contact No.</th>
                               <th>Edit</th>
                               <th>Verification</th>
                                
                            </tr>
                        </thead>
                        <tbody id="sched-table-body">
                              
                    
                            
                        </tbody>
                       
                        
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-6 align-self-center">
                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite"></p>
                    </div>
                    <div class="col-md-6">
                        <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                            <ul class="pagination" id="pagination">
                               
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
<!--DONT DELETE-->

     <!-- Vendor JS Files -->
     <script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
     <script src="{{ url_for('static',filename='assets/vendor/php-email-form/validate.js')}}"></script>
     <script src="{{ url_for('static',filename='assets/vendor/aos/aos.js')}}"></script>
     <script src="{{ url_for('static',filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
     <script src="{{ url_for('static',filename='assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>
     <script src="{{ url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>

    <script>
        function togglePassword(fieldId, icon) {
            const input = document.getElementById(fieldId);
            if (input.type === "password") {
                 input.type = "text";
                 icon.textContent = "Hide"; // change icon to closed-eye
            } else {
                 input.type = "password";
                 icon.textContent = "Show"; // change icon to open-eye
            }
       }
            
        function validatePhoneNumber() {
            const input = document.getElementById('contact');
            input.value = input.value.replace(/\D/g, '');  // Removes non-digit characters
            if (input.value.length > 10) {
                input.value = input.value.slice(0, 10);    // Ensures max length is 10 digits
            }
       }
       async function register(event){
        event.preventDefault()

        const form = event.target.closest('form');

        if (!form.checkValidity()){
             form.reportValidity();
             return;
        }

        let data = undefined;
        const PatientName = document.getElementById("firstname").value
        const PatientLastName = document.getElementById("lastname").value
        const PatientContactNo = '63' + document.getElementById("contact").value
        const PatientAddress = document.getElementById("address").value
        const PatientEmail = document.getElementById("email").value
        
        const contactInput = document.getElementById('contact');
        const PatientPassword = document.getElementById("password1").value
        const PatientPasswordConfirm = document.getElementById("password2").value
        const memberType = document.getElementById("member-type").value

        data = {PatientName, PatientLastName, PatientEmail, PatientPassword, PatientContactNo, PatientAddress, PatientCategory: memberType, PatientIsConfirmed: 1}

        const contact = document.getElementById("contact-warn");
        
      
        for (let key in data){
             if (data[key] == ""){
                  //alert(`${key} cannot be empty` )
                  return;
             } 
        }
        
        if (contactInput.value.length < 10){
             //alert("Contact Number must be 10 digits.")
             contact.innerHTML = "Contact number must be 10 digits";
             contactInput.classList.add('invalid-input', 'flash');
             contactInput.classList.add('is-invalid');

             setTimeout(function() {
                  contact.innerHTML = ""; // Clear the error message after 3 seconds
                  contactInput.classList.remove('invalid-input', 'flash');
             }, 3000);

            

             return null;
        }


        /*
        if (!validateEmail(PatientEmail)){
             alert(`Email: ${PatientEmail} is not a valid email.` )
             return null
        }
        */  


        if (PatientPassword!=PatientPasswordConfirm){
             alert("Confirmed password must be the same password!")
             return null
        }
            

        //Submit To API
     
        try {
             const response = await fetch('/api/patient?for=registration', {
             method: 'POST',
             headers: {
             'Content-Type': 'application/json',
             },
             body: JSON.stringify(data),
             });
   
             if (!response.ok) {
                  throw new Error('Network response was not ok');
             }

             const result = await response.json();
             console.log(result, "REG RESULT")
             console.log(result.hasOwnProperty('customError')) // Shows error created from server
             //Debug
             
             if (result.hasOwnProperty('customError')) {
                  alert( result.customError)
                  return
             }
             

             alert('REGISTRATION IS A SUCCESS!')
             document.getElementById("firstname").value = ""
             document.getElementById("lastname").value = ""
             document.getElementById("contact").value = ""
        
             document.getElementById("email").value = ""
             
             document.getElementById('contact').value = ""
              document.getElementById("password1").value = ""
             document.getElementById("password2").value = ""
             document.getElementById("member-type").value = "student"
             $('#customModal').modal('hide')
             location.reload()
             await sendRegistrationMessage(PatientContactNo, `${PatientLastName}, ${PatientName}`)
           
             //window.location.href = '/login'
             // Handle the result (e.g., show a success message to the user)
        } catch (error) {
             console.error('Error:', error);
             // Handle errors (e.g., show an error message to the user)
        }
       

        

        
   };


    </script>
     <!-- Main JS File -->
     <script src="{{ url_for('static',filename='assets/js/main.js')}}"></script>
     <script type="module">
        import {getUserData} from '/static/pageScripts/session.js'
        import {getSession} from '/static/pageScripts/session.js'
        async function applyProfile(){
        let data = await getUserData()
        data = data[0]
        const session = await getSession()
        if (session["isStaff"]){
             // remove appointment button if staff
             document.getElementById("user-category-display").innerHTML = "NURSE"
        }else{
             document.getElementById("user-category-display").innerHTML = data["PatientCategory"]
        }

        
        }

        applyProfile()
   </script>
<script type="module">
    // Imports necessary modules and functions for handling calendar and appointment data
    import {
        CalendarSelection,
        onClickShowCal,
        selected,
        getAppointmentsFilter,
        getSession,
        getTimeName,
        deleteAppointment,
        setCalendarButtonOpeners,
        btn
    } from "/static/components/calendarSelection/script.js";

    import { deleteSymptomsFromDb } from "/static/components/symptomsSelection/script.js";
    import { InfoModal, showModal } from "/static/components/infoModal/script.js";
    import { getDaysUntilAppointment } from "/static/pageScripts/calendar.js"

    const pageSize = 50;  // Change this to the number of items per page
    let currentPage = 1;  // current page, transfered from function scope into global(here) for accessability
    let allUniqueSymptomNames = [] // for auto adjusting of naming
    let formTargetId = null // if no target (null): create symptom // if has target (string id), edit target symptom
    let selectedUserId = ""
    window.contactOnChange = (event) => {
        const contactField = document.getElementById('contact');
        const prefix = "63";
     console.log(event.target.value); // Logs the new value
     if (event.target.value == '6'){
        event.target.value = '63'
        return
     }
     if (!event.target.value.startsWith(prefix)) {
        event.target.value = prefix + event.target.value.replace(new RegExp(`^${prefix}`), '');
      }
      const input = document.getElementById('regConfirm_ContactNo');
      input.value = input.value.replace(/\D/g, '');  // Removes non-digit characters
      if (input.value.length > 12) {
          input.value = input.value.slice(0, 12);    // Ensures max length is 10 digits
      }
      validateApply()
   };

    function sortSymptomData(symptomData, key) {
        if (!symptomData || symptomData.length === 0) {
          return [];
        }
      
        return symptomData.sort((a, b) => {
          const valueA = a.hasOwnProperty(key) ? String(a[key]).toLowerCase() : "";
          const valueB = b.hasOwnProperty(key) ? String(b[key]).toLowerCase() : "";
      
          if (valueA < valueB) {
            return -1;
          }
          if (valueA > valueB) {
            return 1;
          }
          return 0;
        });
    }
    window.saveChanges = async (event) => {
        event.preventDefault()
        console.log(selectedUserId, "id")
        const userData = (await (await fetch(`/api/patient?Patient_ID=${selectedUserId}`)).json())[0]
        console.log(userData, 'userdata')
        const data = {
            Patient_ID: userData?.Patient_ID,
            PatientName:document.getElementById("regConfirm_FirstName").value,
            PatientLastName: document.getElementById("regConfirm_LastName").value,
            PatientAddress: document.getElementById("regConfirm_Address").value,
            PatientContactNo: document.getElementById("regConfirm_ContactNo").value,
            PatientCategory: document.getElementById("regConfirm_PatientType").value,
        }
        console.log('sent data', data)
        try{
            const response = await fetch('/api/patient', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });
            console.log(await response.json())
            alert("Changes Saved!")
            $('#regConfirmModal').modal('hide')
            getProfiles()
        }catch(error){
            console.error('Error:', error);
            alert("An error occurred while editing patient information.");
        }

    }
    
    window.showUserModal = async (id) => {
        // autofills
        
        const userData = (await (await fetch(`/api/patient?Patient_ID=${id}`)).json())[0]
        selectedUserId = userData?.Patient_ID
        const firstName = document.getElementById("regConfirm_FirstName")
        const lastName = document.getElementById("regConfirm_LastName")
        const address = document.getElementById("regConfirm_Address")
        const contactNo = document.getElementById("regConfirm_ContactNo")
        const patientType = document.getElementById("regConfirm_PatientType")
        const email = document.getElementById("regConfirm_Email")
        // console.log(firstName, lastName, email, contactNo, patientType)
        email.value = userData?.PatientEmail
        address.value = userData?.PatientAddress
        firstName.value = userData?.PatientName
        lastName.value = userData?.PatientLastName
        contactNo.value = userData?.PatientContactNo
        patientType.value = userData?.PatientCategory
        setTimeout(()=>{$('#regConfirmModal').modal('show')}, 50) // add brief delay to set ui changes first
    }
    window.updateSymptomRef = async (data) => {
        try{
            const response = await fetch('/api/symptomsref', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            
            const responseJson = await response.json()
            getProfiles()
        }catch(error){
            console.error('Error:', error);
            alert('An error occurred while adding symptoms.');
        }
    }
    async function sendRegistrationConfirmation (contact, fullname){
        const url = "/api/sms/registration/confirmed"
        const data = {
            contact,
            fullname,
        }
        try{
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });
            console.log(await response.json(), "SMS RESULT")
       }catch(error){
            console.error('Error:', error);
            alert("An error occurred while sending sms confirmation");
    }

    }

    window.deleteUser = async (event) => {
        event.preventDefault()
        console.log(selectedUserId, "id")
        const userData = (await (await fetch(`/api/patient?Patient_ID=${selectedUserId}`)).json())[0]
        const confirmed = confirm("This action is irreversible. Are you sure you want to delete this user?")
        if (!confirmed){return}
        console.log(userData, 'userdata')
        const data = {
            Patient_ID: userData?.Patient_ID,
            PatientName:document.getElementById("regConfirm_FirstName").value,
            PatientLastName: document.getElementById("regConfirm_LastName").value,
            PatientAddress: document.getElementById("regConfirm_Address").value,
            PatientContactNo: document.getElementById("regConfirm_ContactNo").value,
            PatientCategory: document.getElementById("regConfirm_PatientType").value,
        }
        console.log('sent data', data)
        try{
            const response = await fetch('/api/patient', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });
            console.log(await response.json())
            alert("A user has been successfully removed.")
            $('#regConfirmModal').modal('hide')
            getProfiles()
        }catch(error){
            console.error('Error:', error);
            alert("An error occurred while editing patient information.");
        }

    }
    window.ConfirmRegistration = async (event) => {
        const userId = event.srcElement.getAttribute('data-userId')
        const userData = (await (await fetch(`/api/patient?Patient_ID=${userId}`)).json())[0]
        console.log(userData)
        const newData = {
            Patient_ID: userId,
            PatientIsConfirmed: 1,
       }
       try{
            const response = await fetch('/api/patient', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(newData),
            });
            getProfiles()
            getRegistrationPendingCount();
            sendRegistrationConfirmation(userData.PatientContactNo, `${userData.PatientLastName}, ${userData.PatientName}`)
       }catch(error){
            console.error('Error:', error);
            alert("An error occurred while confirming the patient's registration.");
    }
      
    }
    async function getProfiles(sortBy) {
            try {
                const response = await fetch(`/api/patient`);
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                
                let data = await response.json();
                console.log("DATA", data)
                //const pageSize = 50;  // removed. transferred to global scope
                const totalPages = Math.ceil(data.length / pageSize);
                //let currentPage = 1; // removed. transfered to global scope for accessability

                // sort data
                const sortByRefValue = document.getElementById("reg-confirm-sortby").value
                if (sortByRefValue != "?"){
                    data = sortSymptomData(data, sortByRefValue)
                    
                }else{
                    data = data.reverse()
                }

                // Function to display the current page
                function displayPage(page) {
                    const startIndex = (page - 1) * pageSize;
                    const endIndex = Math.min(page * pageSize, data.length);
                    const tbody = document.getElementById('sched-table-body');
                    tbody.innerHTML = "";

                    // Populate table rows for the current page
                    for (let i = startIndex; i < endIndex; i++) {
                        const item = data[i];
                        const row = document.createElement("tr");
                        let verification = ""
                        
                        if (item?.PatientIsConfirmed == 1){
                            verification = `<td><span style="color: green">Confirmed</span></td>`
                        }else{
                            verification = `<td><button class="btn btn-success" data-userId=${item.Patient_ID} onclick="ConfirmRegistration(event)">Confirm</button></td>`
                        }
                        
                        row.innerHTML = `
                            <td>${item.PatientLastName}, ${item.PatientName}</td>
                             <td>${item.PatientCategory}</td>
                             <td>${item.PatientContactNo}</td>
                            <td><button class="btn btn-primary"  onclick="showUserModal(${item.Patient_ID})">Edit</button></td>
                            ${verification}
                            
                        `;
                        tbody.appendChild(row);
                    }

                    // Update the pagination controls
                    const pagination = document.getElementById('pagination');
                    pagination.innerHTML = "";  // Clear current pagination

                    // Add previous button
                    const prevButton = document.createElement("li");
                    prevButton.classList.add("page-item");
                    prevButton.innerHTML = `<a class="page-link" href="#">Previous</a>`;
                    prevButton.addEventListener("click", function() {
                        if (currentPage > 1) {
                            currentPage--;
                            displayPage(currentPage);
                        }
                    });
                    pagination.appendChild(prevButton);

                    // Add page number buttons
                    for (let i = 1; i <= totalPages; i++) {
                        const pageButton = document.createElement("li");
                        pageButton.classList.add("page-item");
                        
                        if (i === page) {
                            pageButton.classList.add("active");
                        }
                        
                        pageButton.innerHTML = `<a class="page-link" href="#">${i}</a>`;
                        pageButton.addEventListener("click", function() {
                            currentPage = i;
                            displayPage(currentPage);
                        });
                        pagination.appendChild(pageButton);
                    }

                    // Add next button
                    const nextButton = document.createElement("li");
                    nextButton.classList.add("page-item");
                    nextButton.innerHTML = `<a class="page-link" href="#">Next</a>`;
                    nextButton.addEventListener("click", function() {
                        if (currentPage < totalPages) {
                            currentPage++;
                            displayPage(currentPage);
                        }
                    });
                    pagination.appendChild(nextButton);
                }

                // Initial page display
                displayPage(currentPage);

            } catch (error) {
                console.error("Fetch error:", error);
            }
        }

   

    document.getElementById('reg-confirm-sortby').addEventListener('change', ()=>{
        currentPage = 1 // reset page number
        getProfiles()
        
    })

    // show pending count notif
    async function getRegistrationPendingCount(){
        const patients = (await (await fetch("/api/patient")).json())
        let count = 0;
        for (let index in patients){
            const a = patients[index]
            if (a.PatientIsConfirmed=="0"){
                count+=1
            }
        }
        console.log("COUUNT", count)
        if (count>0){
            document.getElementById("reg-confirm-pending-count").innerHTML = count
            document.getElementById("reg-confirm-pending-count-container" ).style.display = "block"
       }
    }

    // show pending count notif
    async function getPendingCount(){
        const appointments = await getAppointmentsFilter({}); // Fetch all appointments (no filter)
        
        let count = 0;
        for (let index in appointments){
            const a = appointments[index]
            const targetDateTime =  new Date(a.Appointment_Year, a.Appointment_Month - 1, a.Appointment_Day, a.Appointment_Time);
            const currentDateTime = new Date();
        
            if ((appointments[index].Appointment_Confirmed == 0)&&
            (currentDateTime - targetDateTime)<0){
                count+=1
            }
        }
        if (count>0){
            document.getElementById("pending-count").innerHTML = count
            document.getElementById("pending-count-container").style.display = "block"
       }
    }

    async function getAutoConfirmState(){
        const staffData = (await (await fetch("/api/staff")).json())[0]
        console.log(staffData, "STAFF DATA")
        document.getElementById('toggleSwitch').checked = staffData.staffAutoConfirm?true:false;
    }
   

    document.getElementById('toggleSwitch').addEventListener('change', async () => {
        const state = document.getElementById('toggleSwitch').checked
        const session = await getSession()
        const staffId = session?.userId
        const data = {
            staff_ID: staffId,
            staffAutoConfirm: state?"1":"0"
        }
        console.log("DATAS",data)
        try{
            const response = await fetch('/api/staff', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });
            console.log(await response.json())
            getProfiles()
        }catch(error){
            console.error('Error:', error);
            alert("An error occurred while toggling");
        }
    });

    getProfiles();
    window.getProfiles = getProfiles
    getPendingCount();
    getRegistrationPendingCount();
    getAutoConfirmState();
</script>


</html>
