<div id="im-dimmer"></div>

<div id="im-modal" class="im-modal" style="display: none">
   
    <div class="dr-body" id="im-body">
        
            <div class="im-close-btn" id="im-close-btn" onclick="onClickCloseCal()">x</div>
            <div class="im-scrollview" id="im-scrollview" style="border-width: 0px; border-style:solid; border-top-width:1px;">
                <p class="im-info-title">User Information</p>
                <p><b>First Name: </b><span id="im-first-name"></span></p>
                <p><b>Last Name: </b><span id="im-last-name"></span></p>
                <p><b>Email: </b><span id="im-email"></span></p>
                <p><b>Contact No: </b><span id="im-contact-no"></span></p>
                <p><b>Category: </b><span id="im-category"></span></p>
                <p class="im-info-title">Requested Appointment</p>
                <div class="im-details">

                    <p><b>Schedule Date: </b><span id="im-sched-date"></span></p>
                    <p><b>Schedule Time: </b><span id="im-time"></span></p>
                    <p><b>Status: </b><span id="im-status"></span></p>
                    <p><b>Initial Diagnosis: </b><span id="im-sched-response"></span></p>
                    <p><b>Additional Complaints: </b><span id="im-sched-complaints"></span></p>
                </div>
            </div>
            <div style="padding: 10px; border-width:0px;border-top-width: 1px; border-style:solid; ">
                <button class="btn btn-primary" style="margin: 5px;" id="info-print" onclick="printInfo(event)">Print</button>
                <button class="btn btn-primary" style="margin: 5px;" id="info-filter" onclick="filterUser(event)">See user records</button>
            </div>
            
    </div>
        <!-- Include the JavaScript file for the calendar functionality -->
</div>